<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<div layout:fragment="content">
    <div align="middle">
        <h3 class="box-title">Thêm mới sản phẩm</h3>
    </div>

    <div class="container col-8" align="left">
        <form action="/products/create" method="post" th:object="${product}">
            <div class="form-group">
                <label for="productName">Tên sản phẩm</label>
                <input type="text" th:field="*{name}" class="form-control" id="productName" aria-describedby="name"
                       placeholder="Điền tên sản phẩm ...">
            </div>
            <span th:if="${#fields.hasErrors('name')}"><i class="fa fa-times-circle-o" th:errors="*{name}"></i></span>
            <div class="form-group">
                <label for="description">Mô tả sản phẩm</label>
                <textarea rows="6" th:field="*{description}" class="form-control" id="description" placeholder="Mô tả sản phẩm ..."/>
            </div>
            <span th:if="${#fields.hasErrors('description')}"><i class="fa fa-times-circle-o" th:errors="*{description}"></i></span>
            <button type="submit" class="btn btn-info">Thêm mới</button>
        </form>
    </div>
</div>
</body>
</html>