<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Create Student</h1>
<p><a href="/student/list">Back to list of students</a></p>
<form action="/student/create" method="post" th:object="${student}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Birth day:</td>
            <td><input type="text" th:field="*{birthDay}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>Class:</td>
            <td>
                <select th:field="*{classroom}">
                    <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create student"></td>
        </tr>
    </table>
</form>
</body>
</html>