<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Delete Student</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/students/list">Back to list of students</a>
</p>
<form action="/students/delete" method="post" th:object="${students}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${students.name}"></td>
        </tr>
        <tr>
            <td>Birth day:</td>
            <td th:text="${students.birthday}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${students.email}"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td th:text="${students.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td th:text="${students.gender}"></td>
        </tr>
        <tr>
            <td>Class</td>
            <td th:text="${students.idClass.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete student"></td>
        </tr>
    </table>
</form>
</body>
</html>