<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Edit Student</h1>
<p><a href="/students/list">Back to list of students</a></p>
<form action="/students/update" method="post" th:object="${students}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Birth day:</td>
            <td><input type="date" th:value="${birthday}" th:field="*{birthday}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select th:field="*{gender}">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Class:</td>
            <td>
                <select th:name="idClass">
                    <option th:each="c:${classes}"
                    th:value="${c.id}"
                    th:text="${c.getName()}"
                    th:selected="(${c.id}==*{idClass.getId()})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update student"></td>
        </tr>

    </table>
</form>
</body>
</html>