<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Students</title>
</head>
<body>
<a href="/">Home Page</a>
<hr>

<a href="/students/create">Add new student</a>
<h1>Students</h1>
<form th:action="@{/students/list}" method="get">
    search by name
    <input name="student" th:value="${student}" type="text">
    <input type="submit" value="Search">
    <p>
        <th:block th:if="${message}">
    <p th:text="${message}"></p>
    </th:block>
    </p>
    <table border="1">
        <div>
            <a th:href="@{'/students/list'(page=${students.number - 1})}" th:if="${students.hasPrevious()}">Previous</a>
            <span th:text="${students.number + 1}"></span>/<span th:text="${students.totalPages}"></span>
            <a th:href="@{'/students/list'(page=${students.getNumber() + 1})}" th:if="${students.hasNext()}">Next</a>
        </div>
        <tr>
            <th>Name</th>
            <th>Birth day</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Class</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="student : ${students}">
            <tr>
                <td th:text="${student.name}"></td>
                <td th:text="${student.birthday}"></td>
                <td th:text="${student.gender}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.phoneNumber}"></td>
                <td th:text="${student.idClass.name}"></td>
                <td><a th:href="@{/students/{id}/view(id=${student.getId()})}">view</a></td>
                <td><a th:href="@{/students/{id}/edit(id=${student.getId()})}">edit</a></td>
                <td><a th:href="@{/students/{id}/delete(id=${student.getId()})}">delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>