<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>ADD LEADS INTO CAMPAIGN</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    </p>
    <form action="/campaigns/addLeads" method="post">
        <h2>Add leads into campaign:
            <th:block th:text="${campaign.name}"></th:block>
        </h2>
        <th:block th:if="${leads.getTotalElements() > 0}">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Product</th>
                    <th>Status</th>
                    <th>Last Update Status Date</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>Job</th>
                    <th>Source</th>
                    <th>Admission Date</th>
                    <th width="75px" ></th>
                </tr>
                <th:block th:each="lead : ${leads}">
                    <tr>
                        <td th:text="${lead.name}"></td>
                        <td th:text="${lead.gender}"></td>
                        <td th:text="${lead.product}"></td>
                        <td th:text="${lead.status}"></td>
                        <td th:text="${lead.lastUpdateStatusDate}"></td>
                        <td th:text="${lead.email}"></td>
                        <td th:text="${lead.phoneNumber}"></td>
                        <td th:text="${lead.job}"></td>
                        <td th:text="${lead.source}"></td>
                        <td th:text="${lead.admissionDate}"></td>
                        <td><a th:href="@{/campaigns/addLeads/__${campaign.id}__/__${lead.id}__}" title="ADD"><i class="fa fa-plus-circle"></i>Add</a></td>
                    </tr>
                </th:block>
            </table>
            <th:block th:switch="${name}">
                <div th:case="null">
                    <a th:href="@{'/leads/list'(page=${leads.number - 1})}"
                       th:if="${leads.hasPrevious()}">Previous</a>
                    <span th:text="${leads.number+1}"></span>/<span th:text="${leads.totalPages}"></span>
                    <a th:href="@{'/leads/list'(page=${leads.number + 1})}" th:if="${leads.hasNext()}">Next</a>
                </div>
            </th:block>
        </th:block>
    </form>
</div>
</body>
</html>