<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD LEADS INTO CAMPAIGN</title>
</head>
<body>
<a href="/">Home Page</a>
<hr>
<a href="/campaigns/list">Back to list campaign</a>
<p>
    <th:block th:if="${message}">
<p th:text="${message}"></p>
</th:block>
</p>
<form action="/campaigns/addLeads" method="post">
    <h2>add leads into campaign:
        <th:block th:text="${campaign.name}"></th:block>
    </h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Source</th>
            <th>Status</th>
            <th></th>
        </tr>
        <th:block th:each="lead : ${leads}">
            <tr>
                <td th:text="${lead.name}"></td>
                <td th:text="${lead.email}"></td>
                <td th:text="${lead.phoneNumber}" ></td>
                <td th:text="${lead.source}"></td>
                <td th:text="${lead.status}"></td>
                <td><a th:href="@{/campaigns/addLeads/__${campaign.id}__/__${lead.id}__}">ADD</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>