<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Campaign</title>
</head>
<body>
<a href="/">Home Page</a>
<hr>
<h1>Create Campaign</h1>
<p><a href="/campaigns/list">Back to list of campaign</a></p>
<form action="/campaigns/create" method="post" th:object="${campaign}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea rows="4" cols="50" th:value="*{description}" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" th:value="*{phone_number}" th:field="*{phone_number}"></td>
            <td th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}"></td>
        </tr>
        <tr>
            <td>Start day:</td>
            <td><input type="date" th:field="*{start_day}"></td>
            <td th:if="${#fields.hasErrors('start_day')}" th:errors="*{start_day}"></td>
        </tr>
        <tr>
            <td>End day:</td>
            <td><input type="date" th:field="*{end_day}"></td>
            <td th:if="${#fields.hasErrors('end_day')}" th:errors="*{end_day}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create campaign"></td>
        </tr>
    </table>
</form>
</body>
</html>