<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Campaign</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Delete Campaign</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/campaign/list">Back to list of campaigns</a>
</p>
<form action="/campaign/delete" method="post" th:object="${campaign}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${campaign.name}"></td>
        </tr>
        <tr>
            <td>Start day:</td>
            <td th:text="${campaign.startDay}"></td>
        </tr>
        <tr>
            <td>End day:</td>
            <td th:text="${campaign.endDay}"></td>
        </tr>
        <tr>
            <td>Course:</td>
            <td th:text="${campaign.course.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete campaign"></td>
        </tr>
    </table>
</form>
</body>
</html>