<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Campaign</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Edit Campaign</h1>
<p><a href="/campaign/list">Back to list of campaigns</a></p>
<form action="/campaign/edit" method="post" th:object="${campaign}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Start day:</td>
            <td><input type="text" th:field="*{startDay}"></td>
        </tr>
        <tr>
            <td>End day:</td>
            <td><input type="text" th:field="*{endDay}"></td>
        </tr>
        <tr>
            <td>Course:</td>
            <td>
                <select name="course">
                    <option th:each="c : ${courses}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="${c.id} == *{course.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update campaign"></td>
        </tr>
    </table>
</form>
</body>
</html>