<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">&ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

    <title>List Of Campaigns</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <a href="/campaigns/create">Create new campaign</a></td>
                <form action="#" th:action="@{/campaigns/searchName}" method="get">
                    <table>
                        <tr>
                            <td>
                                <input type="text" name="name"
                                       class="form-control form-control-lg form-control-borderless"
                                       placeholder="Search name">
                            </td>
                            <td>
                                <button class="btn btn-info btn-secondary" type="submit" title="Search"><i
                                        class="fa fa-search"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
                <p>
                    <th:block th:if="${message}">
                <p th:text="${message}"></p>
                </th:block>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Campaigns</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <th:block th:if="${campaigns.getTotalElements() > 0}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Start Day</th>
                                <th>End Day</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <th:block th:each="campaign,iterStat : ${campaigns}">
                                <tr>
                                    <td th:text="${iterStat.count}"></td>
                                    <td>
                                        <a href="#myModal" data-toggle="modal" th:text="${campaign.name}"
                                           class="text-info"
                                           title="View Campaign"></a>

                                        <!-- Modal HTML -->
                                        <div id ="myModal" class="modal fade" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header d-flex justify-content-between">
                                                        <h5 class="modal-title">View of Campaign</h5>
                                                        <button type="button" th:size="50px" data-dismiss="modal">
                                                            <i class="fas fa-sign-out-alt"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table" th:object="${campaign}">
                                                            <tr>
                                                                <td>Name:</td>
                                                                <td th:text="${campaign.name}"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Phone Number:</td>
                                                                <td th:text="${campaign.phoneNumber}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Description</td>
                                                                <td><textarea disabled th:text="${campaign.description}"
                                                                              rows="5"
                                                                              cols="50"></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Start Day:</td>
                                                                <td th:text="${campaign.startDay}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>End Day:</td>
                                                                <td th:text="${campaign.endDay}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${campaign.startDay}"></td>
                                    <td th:text="${campaign.endDay}"></td>
                                    <td>
                                        <a th:href="@{/campaigns/viewLeads/__${campaign.id}__}" class="text-info"
                                           title="View Lead"><i
                                                class="fa fa-eye"></i> View</a>
                                    </td>
                                    <td>
                                        <a class="text-info" th:href="@{/campaigns/edit/__${campaign.id}__}"
                                           title="Edit Campaign"><i
                                                class="fa fa-edit"></i>Edit</a>
                                    </td>
                                    <td>
                                        <a class="text-info" th:href="@{/campaigns/delete/__${campaign.id}__}"
                                           onclick="return confirm('Bạn có muốn xoá campaign này hay không')"
                                           title="Remove Campaign"><i
                                                class="fa fa-trash"></i> Remove</a>
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </th:block>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:switch="${name}">
        <div th:case="null">
            <nav>
                <ul class="pagination pg-blue">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous"
                           th:href="@{'/campaigns/list'(page=${campaigns.number - 1})}"
                           th:if="${campaigns.hasPrevious()}">
                            <span aria-hidden="true">&laquo; Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${totalPage}">
                        <a class="page-link" th:href="@{'/campaigns/list'(page=${page - 1 })}"
                           th:text="${page}"></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" aria-label="Next"
                           th:href="@{'/campaigns/list'(page=${campaigns.getNumber() + 1})}"
                           th:if="${campaigns.hasNext()}">
                            <span aria-hidden="true"> Next &raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div th:case="*">
            <nav>
                <ul class="pagination pg-blue">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous"
                           th:href="@{'/campaigns/list'(page=${campaigns.number - 1},name = ${name})}"
                           th:if="${campaigns.hasPrevious()}">
                            <span aria-hidden="true">&laquo; Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${totalPage}">
                        <a class="page-link" th:href="@{'/campaigns/list'(page=${page - 1 },name = ${name})}" th:text="${page}"></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" aria-label="Next"
                           th:href="@{'/campaigns/list'(page=${campaigns.getNumber() + 1},name = ${name})}"
                           th:if="${campaigns.hasNext()}">
                            <span aria-hidden="true"> Next &raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</div>
</body>
</html>