<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Leads</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Leads in the campaign <span th:text="${campaign.name}"></span></h1>
<a th:href="@{/campaign/__${campaign.id}__/lead/add}">Add new lead</a><br><br>
<a href="/campaign/list">Back to list of campaigns</a><br><br>
<p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Source</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <th:block th:each="lead : ${leads}">
        <tr>
            <td th:text="${lead.name}"></td>
            <td th:text="${lead.email}"></td>
            <td th:text="${lead.phone}"></td>
            <td th:text="${lead.source}"></td>
            <td th:text="${lead.status}"></td>
            <td><a th:href="@{/campaign/__${campaign.id}__/lead/edit/__${lead.id}__}">Edit</a></td>
            <td><a th:href="@{/campaign/__${campaign.id}__/lead/delete/__${lead.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>