<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Of Campaign</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<a href="/campaigns/list">Back to list of campaigns</a>
<h1>Campaign</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Description</th>
    </tr>
    <th:block th:object="${campaign}">
        <tr>
            <td th:text="${campaign.name}"></a></td>
            <td th:text="${campaign.phone_number}"></td>
            <td><textarea rows="5" cols="50" disabled th:text="${campaign.description}"></textarea> </td>
        </tr>
    </th:block>
</table>
</body>
</html>