<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Class</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Create Class</h1>
<p><a href="/class/list">Back to list of classes</a></p>
<form action="/class/create" method="post" th:object="${class}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Course:</td>
            <td>
                <select th:field="*{course}">
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create class"></td>
        </tr>
    </table>
</form>
</body>
</html>