<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Delete Class</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="w3-card-4">
        <div class="w3-container">
            <a href="/classes/list">Back to list class</a>
            <hr>
        </div>
        <div class="w3-container w3-green">
            <h1>Delete Class</h1>
        </div>
        <form class="w3-container" action="/classes/delete" method="post" th:object="${classes}">
            <input type="hidden" th:field="*{id}">
            <p>
                <label class="w3-text-green"><b>Name</b></label>
                <span class="w3-input w3-border w3-sand" th:text="*{name}"></span>
            </p>
            <p>
                <label class="w3-text-green"><b>Course</b></label>
                <span class="w3-input w3-border w3-sand" th:text="${classes.course.name}"></span>
            </p>
            <p>
                <label class="w3-text-green"><b>Start day</b></label>
                <input class="w3-input w3-border w3-sand" type="date" th:field="*{startDay}">
                <span th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}"></span>
            </p>
            <p>
                <label class="w3-text-green"><b>End day</b></label>
                <input class="w3-input w3-border w3-sand" type="date" th:field="*{endDay}">
                <span th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}"></span>
            </p>
            <p>
                <label class="w3-text-green"><b>Learning Status</b></label>
                <select name="learningStatus">
                    <option value="Learning">Learning</option>
                    <option value="Graduated">Graduated</option>
                </select>
            </p>
            <p>
                <button class="w3-btn w3-green" type="submit">Delete class</button>
            </p>
            <p>
                <label class="w3-text-green"><b>ARE YOU SURE!</b></label>
            </p>
        </form>
    </div>
</div>
</body>
</html>