<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Class</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Delete Class</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/classes/list">Back to list of classes</a>
</p>
<form action="/classes/delete" method="post" th:object="${classes}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${classes.name}"></td>
        </tr>
        <tr>
            <td>Course:</td>
            <td th:text="${classes.course.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete class"></td>
        </tr>
    </table>
</form>
</body>
</html>