<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Class</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Edit Class</h1>
<p><a href="/classes/list">Back to list of classes</a></p>
<form action="/classes/edit" method="post" th:object="${classes}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Course:</td>
            <td>
                <select th:field="*{course}">
                    <option th:each="c:${course}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="${c.id} == *{course.getId()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update class"></td>
        </tr>
    </table>
</form>
</body>
</html>