<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Students</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Students in the class <span th:text="${class.name}"></span></h1>
<a th:href="@{/class/list}">Back to list of classes</a><br><br>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Birth day</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Class</th>
    </tr>
    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="${student.name}"></td>
            <td th:text="${student.birthDay}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.classroom.name}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>