<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>View Student</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="w3-card-4">
        <div class="w3-container">
            <a href="/">Home Page</a><hr>
        </div>
        <div class="w3-container">
            <a href="/classes/list">Back to list class</a><hr>
        </div>
        <div>
            <label  class="w3-text-green">Name:</label>
            <label th:text="${classes.getName()}"></label>
        </div >
        <div>
            <label  class="w3-text-green">Course</label>
            <label th:text="${classes.course.getName()}"></label>
        </div>
    </div>
</div>
</body>
</html>