<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>
<div layout:fragment="content">
        <h3 class="box-title">Create Course</h3>
        <form class="form-horizontal" action="/courses/create" method="post" th:object="${course}">
            <label for="inputName" class="col-sm-2 control-label">Name</label>

            <input type="text" th:field="*{name}" class="form-control" id="inputName" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}"><i class="fa fa-times-circle-o" th:errors="*{name}"></i></span>

            <label for="inputStartDay" class="col-sm-2 control-label">Start day</label>

            <input type="date" th:field="*{startDay}" class="form-control" id="inputStartDay" placeholder="Start day">
            <span th:if="${#fields.hasErrors('startDay')}"><i class="fa fa-times-circle-o" th:errors="*{startDay}"></i></span>

            <label for="inputEndDay" class="col-sm-2 control-label">End day</label>

            <input type="date" th:field="*{endDay}" class="form-control" id="inputEndDay" placeholder="End day">
            <span th:if="${#fields.hasErrors('endDay')}"><i class="fa fa-times-circle-o" th:errors="*{endDay}"></i></span>


            <button type="submit" class="btn btn-info pull-right">Create course</button>

        </form>
    </div>
</div>
</body>
</html>