<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Classes</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Classes in the course <span th:text="${course.name}"></span></h1>
<a href="/course/list">Back to list of courses</a><br><br>
<table border="1">
    <tr>
        <th>Class</th>
    </tr>
    <th:block th:each="class : ${classes}">
        <tr>
            <td><a th:href="@{/course/class/student/list/__${class.id}__}" th:text="${class.name}"></a></td>
        </tr>
    </th:block>
</table>
</body>
</html>