<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>List Of Courses</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <a href="/courses/create">Create new course</a>
    <h1>Courses</h1>
    <form>
        <input name="name" type="text" placeholder="Input course name" th:value="${name}">
        <input type="submit" value="Search">
    </form>
    <p>
        <th:block th:if="${message}">
    <p th:text="${message}"></p>
    </th:block>
    </p>
    <th:block th:if="${courses.getTotalElements() > 0}">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Start Day</th>
                <th>End Day</th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="course : ${courses}">
                <tr>
                    <td><a th:href="@{/courses/__${course.id}__/classes}" th:text="${course.name}"></a></td>
                    <td th:text="${course.startDay}">td>
                    <td th:text="${course.endDay}"></td>
                    <td><a th:href="@{/courses/edit/__${course.id}__}">Edit</a></td>
                    <td><a th:href="@{/courses/delete/__${course.id}__}">Delete</a></td></td>
                    <
                </tr>
            </th:block>
        </table>
        <th:block th:switch="${name}">
            <div th:case="null">
                <a th:href="@{'/courses/list'(page=${courses.number - 1})}" th:if="${courses.hasPrevious()}">Previous</a>
                <span th:text="${courses.number+1}"></span>/<span th:text="${courses.totalPages}"></span>
                <a th:href="@{'/courses/list'(page=${courses.number + 1})}" th:if="${courses.hasNext()}">Next</a>
            </div>

            <div th:case="*">
                <a th:href="@{'/courses/list'(page=${courses.number - 1}, name=${name})}" th:if="${courses.hasPrevious()}">Previous</a>
                <span th:text="${courses.number+1}"></span>/<span th:text="${courses.totalPages}"></span>
                <a th:href="@{'/courses/list'(page=${courses.number + 1}, name=${name})}" th:if="${courses.hasNext()}">Next</a>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>