<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="page-footer font-small footerDesign"  >
        <div style="padding: 10px 0px 10px 20px;">
            <div class="row footerDesign" >
                <div class="col-6">
                    <p>
                        <i class="fas fa-home mr-3"></i> Trụ sở 1: 05 Tân Lập 1, Phường Thạch Thang, Quận Hải Châu,
                        TP.Đà Nẵng
                    </p>
                    <p>
                        <i class="fas fa-home mr-3"></i> Trụ sở 2: Đại học Bách Khoa, 54 Nguyễn Lương Bằng, Quận Liên
                        Chiểu, TP.Đà Nẵng
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        <i class="fas fa-envelope mr-3"></i> danang@codegym.vn
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 02366517021
                    </p>
                </div>
                <div class="col-2" align="middle">
                    <p class="footerDesign">©2019 Copyright:
                        <a href="/">Codegym VN</a>
                    </p>
                    <p class="text-center text-md-middle">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/codegymdanang/"
                                   class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://goo.gl/maps/27krvGXUNEfhL8MMA" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fa fa-map"></i>
                                </a>
                            </li>

                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>