<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{lang.tittle}"></h1>

    <h2><a th:text="#{lang.functions}"></a></h2>

    <ul>
        <h3>
            <li><a href="/products/list" th:text="#{lang.products}">List Of Products</a></li>
        </h3>
        <h3>
            <li><a href="/classes/list" th:text="#{lang.classes}">List Of Classes</a></li>
        </h3>
        <h3>
            <li><a href="/students/list" th:text="#{lang.students}">List Of Students</a></li>
        </h3>
        <h3>
            <li><a href="/leads/list" th:text="#{lang.leads}">List Of Leads</a></li>
        </h3>
        <h3>
            <li><a href="/campaigns/list" th:text="#{lang.campaigns}">List Of Campaigns</a></li>
        </h3>
    </ul>
</div>
</body>
</html>