<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
                layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>The functions of the system:</h2>
    <ul>
        <h3><li><a href="/courses/list">List Of Courses</a></li></h3>
        <h3><li><a href="/classes/list">List Of Classes</a></li></h3>
        <h3><li><a href="/students/list">List Of Students</a></li></h3>
        <h3><li><a href="/leads/list">List Of Leads</a></li></h3>
        <h3><li><a href="/campaigns/list">List Of Campaigns</a></li></h3>
    </ul>
</div>
</body>
</html>