<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Lead</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Delete Lead</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/leads/list">Back to list of leads</a>
</p>
<form action="/leads/delete" method="post" th:object="${lead}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${lead.name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${lead.email}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td th:text="${lead.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td th:text="${lead.source}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td th:text="${lead.status}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete lead"></td>
        </tr>
    </table>
</form>
</body>
</html>