<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Delete Lead</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h1>Delete Lead</h1>
        </div>
        <h2>Are you sure?</h2>
        <p>
            <a href="/leads/list">Back to list of leads</a>
        </p>
        <form class="w3-container" action="/leads/delete" method="post" th:object="${lead}">
            <input type="hidden" th:field="*{id}">
            <table>
                <p>
                    <label class="w3-text-green">Name:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.name}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Gender:</label>

                    <span class="w3-border w3-input w3-sand" th:text="${lead.gender}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Product:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.product}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Status:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.status}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Last Update Status Date:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.lastUpdateStatusDate}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Email:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.email}"></span>
                </p>
                <p>
                    <label class="w3-text-green">PhoneNumber:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.phoneNumber}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Job:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.job}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Source:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.source}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Admission Date:</label>
                    <span class="w3-border w3-input w3-sand" th:text="${lead.admissionDate}"></span>
                </p>
                <p>
                    <input class="w3-btn w3-green" type="submit" value="Delete lead">
                </p>
            </table>
        </form>
    </div>
</div>
</body>
</html>