<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Lead</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h1>Edit Lead</h1>
        </div>
        <p><a href="/leads/list">Back to list of leads</a></p>
        <form class="w3-container" action="/leads/edit" method="post" th:object="${lead}">
            <input type="hidden" th:field="*{id}">
            <table>
                <p>
                    <label class="w3-text-green">Name:</label>
                    <input class="w3-input w3-border w3-sand" type="text" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Gender:</label>
                    <select th:field="*{gender}">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </p>
                <p>
                    <label class="w3-text-green">Product:</label>
                    <select th:field="*{product}">
                        <option value="BootcampJavaFulltime">Bootcamp Java Fulltime</option>
                        <option value="BootcampPHPFulltime">Bootcamp PHP Fulltime</option>
                        <option value="BootcampJavaPartime">Bootcamp Java Partime</option>
                        <option value="BootcampPHPPartime">Bootcamp PHP Partime</option>
                        <option value="AcceleratorJava">Accelerator Java</option>
                        <option value="AcceleratorPHP">Accelerator PHP</option>
                    </select>
                </p>
                <p>
                    <label class="w3-text-green">Status:</label>
                    <select th:field="*{status}">
                        <option value="G1">G1</option>
                        <option value="G2">G2</option>
                        <option value="G3">G3</option>
                        <option value="G4">G4</option>
                        <option value="G5">G5</option>
                        <option value="G6">G6</option>
                    </select>
                </p>
                <p>
                    <label class="w3-text-green">Last Update Satus Date:</label>
                    <input class="w3-input w3-border w3-sand" type="date" th:field="*{lastUpdateStatusDate}">
                    <span th:if="${#fields.hasErrors('lastUpdateStatusDate')}" th:errors="*{lastUpdateStatusDate}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Email:</label>
                    <input class="w3-input w3-border w3-sand" type="text" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Phone Number:</label>
                    <input class="w3-input w3-border w3-sand" type="text" th:field="*{phoneNumber}">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </p>
                <p>
                    <label class="w3-text-green">Job:</label>
                    <input class="w3-input w3-border w3-sand" type="text" th:field="*{job}">
                    <span></span>
                </p>
                <p>
                    <label class="w3-text-green">Source:</label>
                    <input class="w3-input w3-border w3-sand" type="text" th:field="*{source}">
                    <span></span>
                </p>
                <p>
                    <label class="w3-text-green">Admission Date:</label>
                    <input class="w3-input w3-border w3-sand" type="date" th:field="*{admissionDate}">
                    <span th:if="${#fields.hasErrors('lastUpdateStatusDate')}" th:errors="*{lastUpdateStatusDate}"></span>
                </p>

                <p>
                    <input class="w3-btn w3-green" type="submit" value="Update lead">
                </p>
            </table>
        </form>
    </div>
</div>
</body>
</html>