<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Lead</title>
</head>
<body>
<a href="/">Home Page</a><hr>
<h1>Edit Lead</h1>
<p><a href="/lead/list">Back to list of leads</a></p>
<form action="/lead/edit" method="post" th:object="${lead}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td><input type="text" th:field="*{source}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" th:field="*{status}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update lead"></td>
        </tr>
    </table>
</form>
</body>
</html>