<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>List Of Leads</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <a href="/leads/status/G1">G1</a>
    <a href="/leads/status/G2">G2</a>
    <a href="/leads/status/G3">G3</a>
    <a href="/leads/status/G4">G4</a>
    <a href="/leads/status/G5">G5</a>
    <a href="/leads/status/G6">G6</a>
    <br><br>
    <a href="/leads/create">Create new lead</a><hr>

    <form>
        <input name="name" type="text" placeholder="Input Lead name" th:value="${name}">
        <input type="submit" value="Search">
    </form>

    <h1>Leads</h1>

    <table border="1" class="table">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Product</th>
            <th>Status</th>
            <th>Last Update Status Date</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Job</th>
            <th>Source</th>
            <th>Admission Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <th:block th:each="lead : ${leads}">
            <tr>
                <td th:text="${lead.name}"></td>
                <td th:text="${lead.gender}"></td>
                <td th:text="${lead.product}"></td>
                <td th:text="${lead.status}"></td>
                <td th:text="${lead.lastUpdateStatusDate}"></td>
                <td th:text="${lead.email}"></td>
                <td th:text="${lead.phoneNumber}"></td>
                <td th:text="${lead.job}"></td>
                <td th:text="${lead.source}"></td>
                <td th:text="${lead.admissionDate}"></td>
                <td><a th:href="@{/leads/edit/__${lead.id}__}">Edit</a></td>
                <td><a th:href="@{/leads/delete/__${lead.id}__}">Delete</a></td>
                <td><a th:href="@{/leads/consulting/__${lead.id}__}">Consulting Process</a></td>
                <td><a th:href="@{/leads/move/__${lead.id}__}">Move</a> </td>

            </tr>
        </th:block>
        <th:block>
            <div>
                <a th:href="@{'/leads/list'(page=${leads.number - 1})}" th:if="${leads.hasPrevious()}">Previous</a>
                <span th:text="${leads.number + 1}"></span>/<span th:text="${leads.totalPages}"></span>
                <a th:href="@{'/leads/list'(page=${leads.getNumber() + 1})}" th:if="${leads.hasNext()}">Next</a>
            </div>
        </th:block>
    </table>

</div>
</body>
</html>