<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Move lead to student</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h1>Move Lead to Student</h1>
        </div>
        <table>
            <td>
                <h2>Lead: </h2>
                <table th:object="${lead}">
                    <tr>
                        <td><input type="hidden" th:field="*{id}"></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td th:text="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td th:text="*{gender}"></td>
                    </tr>
                    <tr>
                        <td>Product:</td>
                        <td th:text="*{product}"></td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td th:text="*{status}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td th:text="*{phoneNumber}"></td>
                    </tr>
                    <tr>
                        <td>Job:</td>
                        <td th:text="*{job}"></td>
                    </tr>
                    <tr>
                        <td>Source:</td>
                        <td th:text="*{source}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <h2>---->>>>>></h2>
            </td>
            <th></th>
            <td>
                <form action="/leads/move" method="post" th:object="${student}">
                    <h2>Student: </h2>
                    <table>
                        <tr>
                            <td><input type="hidden" th:field="*{id}"></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" th:field="*{name}"></td>
                            <td><span class="w3-text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
                        </tr>
                        <tr>
                            <td>Birth day:</td>
                            <td><input type="date" th:value="*{birthday}" th:field="*{birthday}"></td>
                            <td><span class="w3-text-red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span></td>

                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td>
                                <select th:field="*{gender}">
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td><input type="text" th:field="*{phoneNumber}"></td>
                            <td><span class="w3-text-red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" th:field="*{email}"></td>
                            <td><span class="w3-text-red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
                        </tr>
                        <tr>
                            <td>Class</td>
                            <td>
                                <select th:field="*{classRoom}">
                                    <option th:each="p:${classes}"
                                            th:value="${p.id}"
                                            th:text="${p.name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>status</td>
                            <td>
                                <select th:field="*{studentStatus}">
                                    <option value="studying">Đang học</option>
                                    <option value="stop">Thôi học</option>
                                    <option value="reserve">Bảo lưu</option>
                                    <option value="graduating">Tốt nghiệp</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Move"></td>
                        </tr>
                    </table>
                </form>
            </td>
        </table>
        </form>
    </div>
</div>
</body>
</html>